<!DOCTYPE html>
<html lang="en">
    <head>
        <title>测试路口</title>
        <script src="./scripts/jquery-1.9.1.js"></script>
        <script src="./scripts/vue.min.js"></script>
		<style>
			html,body, #app { width: 100%; height: 100%; margin:0px; padding: 0px; background-color: #7b7b7b; }
        </style>
    </head>
    <body>
        <div id="app">
            <intersection 
                ref="intersection"
                :roads="Roads" 
                :road-mode='RoadMode' 
                :road-width='RoadWidth' 
                :angle.sync='Angle'
                @cross-stay-click='onCrossStayClick'
                @cross-road-boundary-click='onCrossRoadBoundaryClick'
                @cross-road-pedestrian-click='onCrossRoadPedestrianClick'
                @cross-road-stopline-click='onCrossRoadStopLineClick'
                @cross-road-pavement-click='onCrossRoadPavementClick'
                @cross-solid-line-click='onCrossSolidLineClick'
                @cross-dotted-line-click='onCrossDottedLineClick'
                @cross-parterre-boundary-line-click='onCrossParterreBoundaryLineClick'
                @cross-y-dotted-line-click='onCrossYDottedLineClick'
                @cross-y-solid-line-click='onCrossYSolidLineClick'
                @cross-y-double-solid-line-click='onCrossYDoubleSolidLineClick'
                @cross-y-double-dashed-line-click='onCrossYDoubleDashedLineClick'
                @cross-y-area-click='onCrossYAreaClick'
                @cross-parterre-click='onCrossParterreClick'
                @cross-parterre-line-click='onCrossParterreLineClick'
                @cross-parterre-safearea-click='onCrossParterreSafeAreaClick'
                @cross-lane-mark-click='onCrossLaneMarkClick'
            ></intersection>
            <!-- <div class='operating' style='position: fixed; bottom: 0px; left: 0px; opacity: .5; color: red; font-size: 12px; background-color: #fff; max-width: 460px;'>
                <br />
                <fieldset style="border:1px solid red;">
                    <legend style="border:1px solid red;">路口配置</legend>
                    <div>路口类型： 
                        <input type="radio" name="type" value='A' v-model='RoadMode' :checked="RoadMode === 'A'" /> 十字路口
                        <input type="radio" name="type" value='Y' v-model='RoadMode' :checked="RoadMode === 'Y'" /> Y字路口
                        <input type="radio" name="type" value='K' v-model='RoadMode' :checked="RoadMode === 'K'" /> K字路口
                        <input type="radio" name="type" value='T' v-model='RoadMode' :checked="RoadMode === 'T'" /> T字路口
                    </div>
                    <div> 路面宽度：<input type="number" v-model='RoadWidth' step="10" /> </div>
                    <div> 路面角度：<input type="range" v-model='Angle' min="0" max="360" /> </div>
                </fieldset>
                <br />
                <fieldset style="border:1px solid red;">
                    <legend style="border:1px solid red;">第一路口</legend>
                    <div>
                        边界:
                        <input type="checkbox" v-model='Roads[0].boundary.left.has' :checked="Roads[0].boundary.left.has" /> 左
                        <input type="checkbox" v-model='Roads[0].boundary.right.has' :checked="Roads[0].boundary.right.has" /> 右
                    </div>
                    <div>
                        <input type="checkbox" v-model='Roads[0].stayArea' :checked="Roads[0].stayArea" /> 行人暂留区
                        <input type="checkbox" v-model='Roads[0].pedestrian' :checked="Roads[0].pedestrian" /> 行人斑马线
                        <input type="checkbox" v-model='Roads[0].stayPedestrian' :checked="Roads[0].stayPedestrian" /> 暂留区斑马线
                        <input type="checkbox" v-model='Roads[0].stopLine' :checked="Roads[0].stopLine" /> 停止线
                    </div>
                    <div>
                        车道数量：<input type="range" min="0" max="10" value="0" @input="onCrossLaneAdd($event, 0)" />
                    </div>
                    <fieldset v-for="(item, index) in Roads[0].Lane" :key="index">
                        <legend>车道{{index}}</legend>
                        <div>
                            类型：
                            <input type="radio" :name="'laneType_0_' + index" value='solid' v-model='Roads[0].Lane[index].type' /> solid
                            <input type="radio" :name="'laneType_0_' + index" value='dotted' v-model='Roads[0].Lane[index].type' /> dotted
                            <input type="radio" :name="'laneType_0_' + index" value='parterre' v-model='Roads[0].Lane[index].type' /> parterre
                            <input type="radio" :name="'laneType_0_' + index" value='y_dotted' v-model='Roads[0].Lane[index].type' /> y_dotted
                            <input type="radio" :name="'laneType_0_' + index" value='y_solid' v-model='Roads[0].Lane[index].type' /> y_solid
                            <input type="radio" :name="'laneType_0_' + index" value='y_double_solid' v-model='Roads[0].Lane[index].type' /> y_double_solid
                            <input type="radio" :name="'laneType_0_' + index" value='y_double_dashed' v-model='Roads[0].Lane[index].type' /> y_double_dashed
                            <input type="radio" :name="'laneType_0_' + index" value='y_solid_area' v-model='Roads[0].Lane[index].type' /> y_solid_area
                        </div>
                        <div>
                            <input type="checkbox" v-model='Roads[0].Lane[index].assist' :checked="Roads[0].Lane[index].assist" /> 是否辅道
                            <input type="checkbox" v-model='Roads[0].Lane[index].reverse' :checked="Roads[0].Lane[index].reverse" /> 是否逆行
                            <input type="checkbox" v-model='Roads[0].Lane[index].markright' :checked="Roads[0].Lane[index].markright" /> 右侧标记
                            <input type="checkbox" v-model='Roads[0].Lane[index].hasBoundary' :checked="Roads[0].Lane[index].hasBoundary" /> 边界绘制
                        </div>
                    </fieldset>
                </fieldset>
            </div> -->
        </div>
    </body>
    <script>
        $(document).ready(function() {
            s = document.createElement("script");
            s.setAttribute("src", "./scripts/intersection.js?noCache=" + new Date().getTime());
            c = document.createElement("link");
            c.setAttribute("rel", "stylesheet");
            c.setAttribute("href", "./assets/css/intersection.css?noCache=" + new Date().getTime());
            document.head.appendChild(s);
            document.head.appendChild(c);
            s.onload = function() {

                Vue.use(intersection);
                var app = new Vue({
                    el : "#app",
                    data: function() {
                        return {
                            Roads : [
                                { 
                                    name : "测试路段1",
                                    boundary : { left: { has: true }, right: { has: true } },
                                    stayArea: true,
                                    pedestrian: true,
                                    stayPedestrian: true,
                                    stopLine: true,
                                    flagList: [
                                        // {
                                        //     id : '0x0001', //标牌ID
                                        //     x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                        //     y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                        //     icon: '../assets/images/1.jpg', //标牌图片地址
                                        //     isUpward: true // 是否上行车道标牌
                                        // },
                                        // { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                    ],
                                    Lane: [
                                        { type: 'solid', assist: true, reverse: false, markright: true, hasBoundary: true, landmark: [ ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ ]},
                                        { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: []},
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [] },
                                        { type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] }
                                    ]
                                },
                                { 
                                    name : "测试路段2",
                                    boundary : { left: { has: true }, right: { has: true } },
                                    stayArea: true,
                                    pedestrian: true,
                                    stayPedestrian: true,
                                    stopLine: true,
                                    flagList: [
                                        // {
                                        //     id : '0x0001', //标牌ID
                                        //     x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                        //     y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                        //     icon: '../assets/images/1.jpg', //标牌图片地址
                                        //     isUpward: true // 是否上行车道标牌
                                        // },
                                        // { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                    ],
                                    Lane: [
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'right'}, { seq: '2' , mark: 'right'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                        { type: 'parterre', assist: false, reverse: false, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [] },
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'y_solid_area', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'solid', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [] },
                                        { type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] }
                                    ]
                                },
                                { 
                                    name : "测试路段3",
                                    boundary : { left: { has: true }, right: { has: true } },
                                    stayArea: true,
                                    pedestrian: true,
                                    stayPedestrian: true,
                                    stopLine: true,
                                    flagList: [
                                        // {
                                        //     id : '0x0001', //标牌ID
                                        //     x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                        //     y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                        //     icon: '../assets/images/1.jpg', //标牌图片地址
                                        //     isUpward: true // 是否上行车道标牌
                                        // },
                                        // { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        // { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        // { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        // { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        // { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        // { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        // { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        // { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                    ],
                                    Lane: [
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '1' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '1' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'right'}, { seq: '1' , mark: 'right'}, { seq: '2' , mark: 'right'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight-right'}, { seq: '1' , mark: 'straight-right'}, { seq: '2' , mark: 'straight-right'} ]},
                                        { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [{ seq: '0' , mark: 'straight-left'}, { seq: '1' , mark: 'straight-left'}, { seq: '2' , mark: 'straight-left'} ] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [{ seq: '0' , mark: 'uturn'}, { seq: '1' , mark: 'uturn'}, { seq: '2' , mark: 'uturn'} ] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [{ seq: '0' , mark: 'straight-uturn'}, { seq: '1' , mark: 'straight-uturn'}, { seq: '2' , mark: 'straight-uturn'} ] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [{ seq: '0' , mark: 'left-uturn'}, { seq: '1' , mark: 'left-uturn'}, { seq: '2' , mark: 'left-uturn'} ] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [{ seq: '0' , mark: 'left-right'}, { seq: '1' , mark: 'left-right'}, { seq: '2' , mark: 'left-right'} ] },
                                        { type: 'dotted', assist: false, reverse: true, markright: false, hasBoundary: true, landmark: [{ seq: '0' , mark: 'straight'}, { seq: '1' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ] }
                                    ]
                                },
                                { 
                                    name : "测试路段4",
                                    boundary : { left: { has: true }, right: { has: true } },
                                    stayArea: true,
                                    pedestrian: true,
                                    stayPedestrian: true,
                                    stopLine: true,
                                    flagList: [
                                        {
                                            id : '0x0001', //标牌ID
                                            x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                            y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                            icon: '../assets/images/1.jpg', //标牌图片地址
                                            isUpward: true // 是否上行车道标牌
                                        },
                                        { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                        { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                        { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                        { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                        { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                        { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                        { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                        { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                    ],
                                    Lane: [
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'right'}, { seq: '2' , mark: 'right'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                        { type: 'parterre', assist: false, reverse: false, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [] },
                                        { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'y_solid_area', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'solid', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                        { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                        { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [] },
                                        { type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] }
                                    ]
                                }
                                // { 
                                //     name : "测试路段5",
                                //     boundary : { left: { has: true }, right: { has: true } },
                                //     stayArea: true,
                                //     pedestrian: true,
                                //     stayPedestrian: true,
                                //     stopLine: true,
                                //     flagList: [
                                //         {
                                //             id : '0x0001', //标牌ID
                                //             x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                //             y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                //             icon: '../assets/images/1.jpg', //标牌图片地址
                                //             isUpward: true // 是否上行车道标牌
                                //         },
                                //         { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                //     ],
                                //     Lane: [
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'right'}, { seq: '2' , mark: 'right'} ]},
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                //         { type: 'parterre', assist: false, reverse: false, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [] },
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'y_solid_area', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                //         { type: 'solid', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                //         { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                //         { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [] },
                                //         { type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] }
                                //     ]
                                // },
                                // { 
                                //     name : "测试路段6",
                                //     boundary : { left: { has: true }, right: { has: true } },
                                //     stayArea: true,
                                //     pedestrian: true,
                                //     stayPedestrian: true,
                                //     stopLine: true,
                                //     flagList: [
                                //         {
                                //             id : '0x0001', //标牌ID
                                //             x: 112.54564846, //标牌坐标 (数据交互,无UI效果)
                                //             y: 25.156456, //标牌坐标 (数据交互,无UI效果)
                                //             icon: '../assets/images/1.jpg', //标牌图片地址
                                //             isUpward: true // 是否上行车道标牌
                                //         },
                                //         { id : '0x0002', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0003', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0004', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0005', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0006', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0007', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0008', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0009', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0010', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0011', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0012', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0013', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0014', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0015', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0016', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0017', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0018', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0019', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0020', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0021', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0022', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false },
                                //         { id : '0x0023', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg', isUpward: false },
                                //         { id : '0x0024', x: 112.54564846, y: 25.156456, icon: '../assets/images/3.jpg', isUpward: true },
                                //         { id : '0x0025', x: 112.54564846, y: 25.156456, icon: '../assets/images/4.jpg', isUpward: false },
                                //         { id : '0x0026', x: 112.54564846, y: 25.156456, icon: '../assets/images/5.jpg', isUpward: true },
                                //         { id : '0x0027', x: 112.54564846, y: 25.156456, icon: '../assets/images/6.jpg', isUpward: false },
                                //         { id : '0x0028', x: 112.54564846, y: 25.156456, icon: '../assets/images/1.jpg', isUpward: true },
                                //         { id : '0x0029', x: 112.54564846, y: 25.156456, icon: '../assets/images/2.jpg',  isUpward: false }
                                //     ],
                                //     Lane: [
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'right'}, { seq: '2' , mark: 'right'} ]},
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                //         { type: 'parterre', assist: false, reverse: false, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [] },
                                //         { type: 'solid', assist: false, reverse: false, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'y_solid_area', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                //         { type: 'solid', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [ { seq: '0' , mark: 'straight'}, { seq: '2' , mark: 'straight'} ]},
                                //         { type: 'parterre', assist: false, reverse: true, markright: true, hasSafeArea: true, hasBoundary: true, landmark: [ { seq: '0' , mark: 'left'}, { seq: '2' , mark: 'left'} ]},
                                //         { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: true, landmark: [] },
                                //         { type: 'dotted', assist: false, reverse: true, markright: true, hasBoundary: false, landmark: [] },
                                //         { type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] }
                                //     ]
                                // }
                            ],
                            RoadMode : 'Y',
                            RoadWidth: 500,
                            Angle: 0,
                        }
                    },
                    methods: {
                        //机动车道路点击事件
                        onCrossRoadPavementClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            // alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路被点击");
                            var me = this;
                            me.$refs.intersection.setActive(i);
                        },
                        //十字路口行人暂留区域点击事件
                        onCrossStayClick: function(e, i) {
                            //e 事件对象， i 路口索引下标
                            alert("第"+ (i + 1) + "个路口行人暂留区被点击");
                        },
                        //十字路口公路边界线的点击事件
                        onCrossRoadBoundaryClick: function(e, i, flag) {
                            // e 事件对象, i 路口索引下标, flag === 'left' 左边边界线， flag === 'right' 右边边界线
                            if (flag === 'left') {
                                alert("第"+ (i + 1) + "个路口,左边边界线被点击");
                            } else if(flag === 'right') {
                                alert("第"+ (i + 1) + "个路口,右边边界线被点击");
                            }
                        },
                        //十字路口行人斑马线的点击事件
                        onCrossRoadPedestrianClick: function(e, i, isStay) {
                            // e 事件对象, i 路口索引下标, isStay 是否暂留区域的行人斑马线
                            if (isStay) {
                                alert("第"+ (i + 1) + "个路口,行人暂留区斑马线被点击");
                            } else  {
                                alert("第"+ (i + 1) + "个路口,斑马线被点击");
                            }
                        },
                        //机动车停止线点击事件
                        onCrossRoadStopLineClick: function(e, i) {
                            // e 事件对象, i 路口索引下标
                            alert("第"+ (i + 1) + "个路口机动车停止线被点击");
                        },
                        
                        //机动车道路白色实线点击事件
                        onCrossSolidLineClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路白色实线被点击");
                        },
                        //机动车道路白色虚线点击事件
                        onCrossDottedLineClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路白色虚线被点击");
                        },
                        //花坛边界线点击事件
                        onCrossParterreBoundaryLineClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路花坛边界线被点击");
                        },
                        //机动车黄色虚线点击事件
                        onCrossYDottedLineClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车黄色虚线被点击");
                        },
                        //机动车黄色实线点击事件
                        onCrossYSolidLineClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车黄色实线被点击");
                        },
                        //机动车双黄色实线点击事件
                        onCrossYDoubleSolidLineClick: function(e, i, lane, side) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标, side === 'left' 左边黄线, side === 'right' 右边黄线
                            if (side === 'left') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车左边双黄色实线被点击");
                            } else if (side === 'right') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车右边双黄色实线被点击");
                            }
                        },
                        //机动车双黄色虚线点击事件
                        onCrossYDoubleDashedLineClick: function(e, i, lane, side) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标, side === 'left' 左边黄线, side === 'right' 右边黄线
                            if (side === 'left') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车左边双黄色虚线被点击");
                            } else if (side === 'right') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车右边双黄色虚线被点击");
                            }
                        },
                        //机动车黄色禁停区域点击事件
                        onCrossYAreaClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "道路机动车双禁停区域被点击");
                        },
                        //花坛绿色区域点击事件
                        onCrossParterreClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "花坛绿色区域被点击");
                        },
                        //花坛内部白线点击事件
                        onCrossParterreLineClick: function(e, i, lane, side) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标, side === 'left' 左边黄线, side === 'right' 右边黄线
                            if (side === 'left') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "花坛左侧白线被点击");
                            } else if (side === 'right') {
                                alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "花坛右侧白线被点击");
                            }
                        },
                        //安全岛点击事件
                        onCrossParterreSafeAreaClick: function(e, i, lane) {
                            //e 事件对象, i 路口索引下标, lane 道路的索引下标
                            alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "安全岛被点击");
                        },
                        //道路路标点击事件
                        onCrossLaneMarkClick: function(e, i, lane, seq, mark) {
                            var me = this;
							me.$refs.intersection.cancelMarkHighlight();
							me.$set(me.Roads[i].Lane[lane].landmark[seq], "highlight", !me.Roads[i].Lane[lane].landmark[seq].highlight);
							//me.Roads[i].Lane[lane].landmark[seq].highlight = !me.Roads[i].Lane[lane].landmark[seq].highlight;
                            //alert("第"+ (i + 1) + "个路口，第" + ( lane + 1) + "个车道, 第" + (Number(seq) + 1) + "路标" + mark + "被点击");
                        },
                        onCrossLaneAdd: function(e, i) {
                            var me = this;
                            var total = e.target.value >> 0
                            me.Roads[i].Lane = new Array(total).fill({ type: 'solid', assist: true, reverse: true, markright: false, hasBoundary: true, landmark: [] });
                        }
                    }
                })
                
            
            }
        })
    </script>
</html>