.ivsom-road {
    width: 100%;
    height: 100%;
    background-color: #111;
}

.ivsom-road > .cross-road,
.ivsom-road > .y-road,
.ivsom-road > .t-road
.ivsom-road > .k-road {
    width: 100%;
    height: 100%;
}

.ivsom-road .ivsom-lane {
    position: relative;
}

.ivsom-road .ivsom-lane .ivsom-lane-mark {
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.ivsom-road .ivsom-lane .ivsom-lane-mark:hover {
    fill: rgba(51, 153, 255, .5);
}